.testimonials-container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .testimonials-container h3 {
    color: #fff;
    width: 100%; 
    margin-bottom: 15px;
  }
  
  .testimonial {
    width: calc(25% - 16px); 
    margin-bottom: 16px;
    box-sizing: border-box; 
  }
  
  .testimonial p {
    margin-bottom: 8px;
  }
  .text-heading{
    text-align: center;
  }

.testimonial p.highlight {
    background-color: #c2b25b; 
    padding: 8px; 
    border-radius: 5px;
    font-weight: bold; 
  }
  

  
  
  @media (max-width: 768px) {
    .testimonial {
      width: calc(50% - 16px); 
    }
  }
  